<h1> Use your ID to check </h1>
   <%= radio_button_tag(:check, 'check_in') %> 
   <%= label_tag(:check_in, 'Check In') %> 
   <%= radio_button_tag(:check, 'check_out') %> 
   <%= label_tag('Check Out', 'Check Out') %> 
   <%= submit_tag 'Ok' %>
