<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Workload</th>
    <th>Type</th>
    <th>Arrival</th>
    <th>Exit</th>
    <th>Lunch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.workload %></td>
    <td><%= employee.type %></td>
    <td><%= employee.arrival %></td>
    <td><%= employee.exit %></td>
    <td><%= employee.lunch %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
<%= link_to 'New Scheduled Employee', new_scheduled_employee_path %>
<%= link_to 'New Hour Bank Employee', new_hour_bank_employee_path %>
