<h1> Listing Your Hour Histories</h1>

<table>
  <tr>
     <th>Day</th>
     <th>Arrived</th>
     <th>Went to lunch</th>
     <th>Came from lunch</th>
     <th>Went away</th>
     <th>Extra Hours</th>
     <th>Hours to Complete</th>
 </tr>

<% @hour_histories.each do |h| %>
 <tr>
  <td><%= h.day.to_date %></th>
  <td><%= h.arrived.to_s(:time) if h.arrived%></th>
  <td><%= h.went_lunch.to_s(:time) if h.went_lunch %></th>
  <td><%= h.came_lunch.to_s(:time) if h.came_lunch%></th>
  <td><%= h.went_away.to_s(:time) if h.went_away%></th>
  <td><%= h.difference / 360 if h.difference > 0 if h.difference  %></th>
  <td><%= h.difference / 360 if h.difference < 0 if h.difference  %></th>
 </tr>
 <% end %>    
</table>
<br />
<%= link_to "Back", home_index_path %>
