<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Workload:</b>
  <%= @employee.workload %>
</p>

<p>
  <b>Type:</b>
  <%= @employee.type %>
</p>

<p>
  <b>Arrival:</b>
  <%= @employee.arrival %>
</p>

<p>
  <b>Exit:</b>
  <%= @employee.exit %>
</p>

<p>
  <b>Lunch:</b>
  <%= @employee.lunch %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
