<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :workload %><br />
    <%= f.number_field :workload %>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.time_select :arrival %>
  </div>
  <div class="field">
    <%= f.label :exit %><br />
    <%= f.time_select :exit %>
  </div>
  <div class="field">
    <%= f.label :lunch %><br />
    <%= f.time_select :lunch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
