<h1>Smart Clock!</h1>

<%= form_tag '' do %>
  <%= number_field_tag :id %>
  <%= submit_tag 'Check in',
     onclick: "this.form.action = '#{employees_check_in_url}'; this.form.submit();" %>
  <%= submit_tag 'Check out',
     onclick: "this.form.action = '#{employees_check_out_url}'; this.form.submit();" %>
<% end %>

<%=link_to "Employees", employees_path%>
